<div class="footer">
  <div class="container">

    <div class="footer__links-wrap">

      <div class="footer__links-group">
        <p class="footer__links-header">Autobyoffer</p>
        <ul class="footer__links-list">
          <li class="footer__links-item"><a routerLink="/">Home</a></li>
          <li class="footer__links-item"><a routerLink="/">Search</a></li>
          <li class="footer__links-item"><a routerLink="/">Motorcycles</a></li>
          <li class="footer__links-item"><a routerLink="/">ATVs</a></li>
        </ul>
      </div>

      <div class="footer__links-group">
        <p class="footer__links-header">Who we are</p>
        <ul class="footer__links-list">
          <li class="footer__links-item"><a routerLink="/">About us</a></li>
          <li class="footer__links-item"><a routerLink="/">Contact us</a></li>
        </ul>
      </div>

      <div class="footer__links-group">
        <p class="footer__links-header">Connect</p>
        <ul class="footer__links-list">
          <li class="footer__links-item"><a routerLink="/"><fa class="footer__links-icon" name="facebook"></fa>Facebook</a></li>
          <li class="footer__links-item"><a routerLink="/"><fa class="footer__links-icon" name="twitter"></fa>Twitter</a></li>
          <li class="footer__links-item"><a routerLink="/"><fa class="footer__links-icon" name="google-plus"></fa>Google+</a></li>
          <li class="footer__links-item"><a routerLink="/"><fa class="footer__links-icon" name="linkedin"></fa>LinkedIn</a></li>
        </ul>
      </div>

      <div class="footer__links-group">
        <p class="footer__links-header">Our location</p>
        <p class="footer__location">1375 Bear Mountain Parkway,<br> Victoria, BC, V9B 0C9, Canada</p>
        <p class="footer__phone">Telephone: +1 (250) 792-1201</p>
      </div>

    </div>

    <div class="footer__logo"></div>
    <p class="footer__copyright">Copyright © 2017 AutobyOffer</p>

  </div>
</div>
