.search {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));

  .container {
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__box {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 30px;

    &--location {
      width: 185px;
      border-bottom: 1px solid #fff;

      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background: url("../../../assets/icons/gps.png") no-repeat center;
        background-size: contain;
        position: absolute;
        top: 20px;
        right: 0;
      }
    }

    &--select {
      border-bottom: 1px solid #fff;
      padding-bottom: 4px;
    }

  }

  &__label {
    color: rgba(255,255,255,0.5);
    font-size: .7rem;
    margin-bottom: 0;
  }

  &__input {
    color: #fff;
    width: 160px;
    background: transparent;
    border: none;
    padding: 0 5px;
    margin-top: 5px;
  }

  &__checkbox-list {
    padding-top: 5px;
  }

  &__checkbox-hidden {
    opacity: 0;
    position: absolute;
    cursor: pointer;

    &:checked ~ .search__checkbox-item {
      border: none;
      background: url("../../../assets/icons/check.png") no-repeat center;
      background-size: contain;
    }
  }

  &__checkbox-item {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: none;
    border: 1px solid #fff;
  }

  &__checkbox-label {
    color: #fff;
    margin-right: 15px;
    margin-bottom: 0;
    position: relative;
    cursor: pointer;
    line-height: 1rem;
  }

  &__select {


    .btn {
      position: relative;
      background: transparent;
      border: none;
      width: 150px;
      color: #fff;
      text-align: inherit;
      padding: 0 0 0 5px;

      &--small {
        width: 125px;
      }

      &::after {
        position: absolute;
        right: 0;
        top: 45%;
      }
    }

    &-wrap {
      display: flex;
      flex-direction: row;
    }

    &-option {
      color: #000;
    }

    &-icon {
      width: 25px;
      height: 25px;
      background: no-repeat center, #fff;
      background-size: contain;
      border-radius: 50%;

      &--sport {
        background-image: url("../../../assets/icons/sport-icon.png");
      }

      &--hd {
        background-image: url("../../../assets/icons/hd-icon.png");
      }
    }
  }

  &__price {
    width: 220px;
  }

  &__button {
    background-color: #0065ed;
    color: #fff;
    border: none;
    border-radius: 18px;
    height: 37px;
    width: 96px;
    cursor: pointer;
    margin-top: 16px;
  }
}
