.header-bg {
  height: 135px;
  background-color: #0065ed;
}

.header {
  font-family: Gilroy, Serif, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(97,99,101);
  margin: 80px 0 55px;
  text-align: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-family: Gilroy, Serif, sans-serif;
  color: rgb(97,99,101);
  margin-bottom: 30px;

  &__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 500px;
    margin-bottom: 20px;
  }

  &__box {
    display: flex;
    flex-flow: column nowrap;
    width: 240px;
    margin: 27px 0 0;
    border-bottom: 1px solid rgb(97,99,101);
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    align-self: flex-end;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  &__label {
    margin-bottom: 0;
    font-size: .7rem;
  }

  &__control {
    border: none;
    background: transparent;
    color: rgb(97,99,101);
    padding: 0 3px;
  }

  &__control.ng-invalid.ng-dirty.ng-touched {
    background: rgba(220,68,75,0.3)
  }

  &__btn {
    width: 155px;
    height: 37px;
    background-color: #0065ed;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: none;
    border-radius: 18px;
    margin: 30px 0 0;
    cursor: pointer;

    &--skip {
      border: 1px solid #0065ed;
      background: transparent;
      color: #0065ed;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: rgb(97,99,101);
    }
  }
}
