.units {
  font-family: Gilroy, Serif, sans-serif;
  color: rgb(97, 99, 101);
  display: flex;
  flex-flow: column nowrap;

  &__row {
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    width: 1272px;
  }

  &__list {
    margin-top: 96px;
    margin-bottom: 108px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 400px;
    margin: 0 12px 46px;

    &-img {
      width: 400px;
      height: 234px;
      object-fit: cover;
    }

    &-header {
      display: block;
      width: 280px;
      align-self: center;
      margin: 16px 0 22px;
      font-weight: bold;
      text-align: center;
      font-size: 1.2rem;
      text-transform: uppercase;
    }

    &-description {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-bottom: 32px;

      span {
        overflow: hidden;
        max-width: 400px;
         white-space: nowrap;
         text-overflow: ellipsis;
       }
    }
  }

  &__btn {
    width: 190px;
    height: 37px;
    background: transparent;
    border: 2px solid rgb(97, 99, 101);
    color: rgb(97, 99, 101);
    border-radius: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    cursor: pointer;

    &:hover {
      background-color: rgb(97, 99, 101);
      border: none;
      color: #fff
    }
  }

  &__error {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Gilroy, Serif, sans-serif;
  }

  &__message {
    font-weight: bold;
    font-size: 2.5rem;
  }

}
