.main {
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Gilroy, Serif, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #0065ed;
  cursor: pointer;

  &:hover {
    background-color: lighten(#0065ed, 10%);
  }

  &__icon {
    margin-left: 10px;
  }
}
