<div class="menu">

  <ul class="menu__list">
    <li class="menu__item menu__item--active">Home</li>
    <li class="menu__item">Vehicles</li>
    <li class="menu__item">About us</li>
  </ul>

  <button class="menu__btn">Login</button>
  <button class="menu__btn menu__btn--rounded">Sign up</button>
  <p class="menu__phone">250.792.1201</p>

  <div class="menu__social">
    <div class="menu__social-icon menu__social-icon--fb">
      <fa name="facebook-f"></fa>
    </div>
    <div class="menu__social-icon menu__social-icon--tw">
      <fa name="twitter"></fa>
    </div>
    <div class="menu__social-icon menu__social-icon--gp">
      <fa name="google-plus"></fa>
    </div>
    <div class="menu__social-icon menu__social-icon--li">
      <fa name="linkedin"></fa>
    </div>
  </div>

</div>
