.home {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  background: linear-gradient(rgba(7, 22, 38, 0.8), rgba(7, 22, 38, 0.8)), url("../../assets/img/home-bg.png") no-repeat center;
  background-size: cover;
  font-family: Gilroy, Serif, sans-serif;

  &__header {
    margin-top: 55px;
    display: flex;
    flex-flow: row nowrap;
    color: #fff;
    justify-content: space-between;
  }

  &__logo {
    width: 202px;
    height: 22px;
    background: url("../../assets/img/logo.png") no-repeat center;
    background-size: contain;
    cursor: pointer;
  }

  &__text {
    display: block;
    margin: 300px auto;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }
}

